@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #00aeef;
  --color-brand-alt: #00ecef;
  --color-text-black: #262626;
  --color-text-light: #ffffff;
  --color-background-light: #ffffff;
  --color-background-black: #262626;
  --color-warning-red: #d43939;
  --color-bg-header-button: #363636;
  --color-bg-header-button-hover: #5A5A5A;
  --color-bg-black-lighter: #2D2D2D;
  --color-black-lighter-border: #686868;
  --color-positive-green: #22B700;
}

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-light);
  background-color: var(--color-background-black);

  color-scheme: dark;
  color: var(--color-text-light);
  background-color: var(--color-background-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-brand);
}

a:hover {
  text-decoration: underline;
}

body {
  width: 100vw;
  overflow-x: hidden;
}