@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #00aeef;
  --color-brand-alt: #00ecef;
  --color-text-black: #262626;
  --color-text-light: #ffffff;
  --background-light: #ffffff;
  --background-black: #262626;
}

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-light);
  background-color: var(--background-black);

  color-scheme: dark;
  color: var(--color-text-light);
  background-color: var(--background-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-brand);
}

a:hover {
  text-decoration: underline;
}